.modal{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.modalBackdrop{
	position: 'fixed';
	z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
	background-color: #eee;
  padding: 50px;
}